.project-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}
.Title {
  margin-top: 70px;
  margin-bottom: 50px;
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: gray;
}
a {
  text-decoration: none;
  color: black;
}
