.introduction-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  gap: 30px;
  position: relative;
}
.myImg {
  width: 220px;
  height: 280px;
  border-radius: 50px;
}
.myInfo {
  display: none;
  position: absolute;
  transform: translateX(95%);
  font-size: small;
}
.myImg:hover + .myInfo {
  display: block;
  animation: fade-in 1000ms forwards;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
